
<head>
    <%- include('../partials/aboutme_head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="main">
        <div class="top">
            <h1>Peter Riesing</h1>
            <h2><%=me.occupation%></h2>
        </div>
        <div class="bottom">
            <img src= <%=me.pic%> alt="pic">
            <div class="bottomText">
                <p>
                    <strong> <%=me.name%></strong>
                    is from <%=me.city%>. His cat is named <%=me.pets%>.
                </p>
                <p>
                    <%=me.lorem%>
                </p>
            </div>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>